<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/Route/etc/route.xsd">
    <router id="admin">
        <route id="amqpretry" frontName="amqpretry">
            <module name="Gcs_AmqpRetry"/>
        </route>
    </router>
</config>
