<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="gcs_extensions"  sortOrder="999999">
            <label>GCS Extensions</label>
        </tab>
        <section id="amqpretry" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>GCS AMQP Retry Configuration</label>
            <tab>gcs_extensions</tab>
            <resource>Gcs_AmqpRetry::config</resource>
            <group id="defaults" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>AMQP Queue Retry Defaults</label>
                <field id="initial_intervals" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>Default Initial Attempt Step Delays</label>
                    <comment>Comma-separated seconds for initial retries</comment>
                    <validate>required-entry validate-numbers-and-commas</validate>
                </field>
                <field id="dlq_intervals" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>Default DLQ Intervals</label>
                    <comment>Comma-separated seconds for DLQ-phase retries</comment>
                    <validate>required-entry validate-numbers-and-commas</validate>
                </field>
                <field id="exchange_name" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>Exchange Name</label>
                    <comment>Default exchange for retry publishes</comment>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
