<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/Config/etc/config.xsd">
    <default>
        <amqpretry>
            <defaults>
                <initial_intervals>60,300,900</initial_intervals>
                <dlq_intervals>3600,86400</dlq_intervals>
                <exchange_name>magento</exchange_name>
            </defaults>
        </amqpretry>
    </default>
</config>
